.ScheduleContent {
  /*크기*/
  width: 250px;
  height: 195px;
  /*테두리*/
  border: 1px solid var(--line-color);
  border-radius: 8px;
  background-color: white;
  /*요소 배치*/
  z-index: 100;
  position: absolute;
  top: 300px;
  left: 270px;
}

.ScheduleContent__container {
  padding: 10px;
  /*요소 배치*/
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 7px;
}

.ScheduleContent__header {
  display: flex;
  flex-wrap: wrap;
}

.ScheduleContent__xButton {
  margin-left: auto;
}

.ScheduleContent__section {
  /*요소배치*/
  display: flex;
  align-items: center;
  gap: 5px;
  /* 폰트 */
  font-size: 12px;
  color: var(--text-color2);
  /* 패딩 */
  padding-left: 15px;
}

.ScheduleContent__label {
  /* 폰트 */
  color: var(--text-color1);
  font-size: 14px;
  font-family: "pretendardB";
}

.ScheduleContent__innerLabel {
  width: 50px;
  color: var(--text-color2);
}

.ScheduleContent__info,
.ScheduleContent__description {
  /* 폰트 */
  color: var(--text-color1);
  font-size: 14px;
}

.ScheduleContent__description {
  border: 1px solid var(--line-color);
  border-radius: 4px;
  width: 145px;
  max-height: 40px;
  height: 40px;
  overflow: auto;
  padding: 2px 5px;
}

.ScheduleContent__description::-webkit-scrollbar {
  width: 5px; /* 스크롤바 너비 */
}

.ScheduleContent__description::-webkit-scrollbar-track {
  background: var(--dimmed); /* 스크롤바 트랙 색상 */
  border-radius: 10px; /* 스크롤바 트랙 둥글기 */
}

.ScheduleContent__description::-webkit-scrollbar-thumb {
  background: var(--line-color); /* 스크롤바 색상 */
  border-radius: 10px; /* 스크롤바 둥글기 */
}

.ScheduleContent__description-webkit-scrollbar-thumb:hover {
  background: var(--text-color2); /* 스크롤바 색상 (hover) */
}

.ScheduleContent__button {
  /* 오른쪽 끝으로, 각 버튼 사이 gap, 오른쪽 마진 */
  align-self: flex-end;
  margin-right: 10px;
}
