.teamFeedback {
  /*마진, 요소 중앙으로*/
  margin: 50px auto;
}

.teamFeedback__label {
  border-bottom: 1px solid var(--line-color);
  /*폰트*/
  font-size: 28px;
  font-family: "pretendardB";
  /*크기*/
  width: 1320px;
  height: 70px;
  /*마진*/
  margin: auto;
  margin-top: 50px;
  /*배치*/
  display: flex;
  align-items: center;
}

.teamFeedback__container {
  /*크기*/
  width: 1001px;
  /*마진, 요소 중앙으로*/
  margin: 50px auto;
  /*배치*/
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.teamFeedback__innerLabel {
  /*배치*/
  display: flex;
  align-items: center;
  gap: 10px;
  /*폰트*/
  font-size: 24px;
  font-family: "pretendardB";
  color: var(--main-color2);
}

.teamFeedback__item {
  /*배치*/
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.teamFeedback__formContainer {
  /*크기*/
  height: 486px;
  /*테두리*/
  border: 1px solid var(--line-color);
  border-radius: 8px;
}

.teamFeedback__form {
  /*border: 1px solid var(--main-color);*/
  /*배치*/
  display: flex;
  flex-wrap: wrap;
  gap: 80px 80px;
  /*패딩*/
  padding: 50px 75px;
}

.teamFeedback__submitButton {
  align-self: flex-end;
}
