.attendanceList {
  width: 300px;
  height: 480px;
}

.attendanceList__item {
  max-height: 480px;
  overflow-y: auto;
}

/* 스크롤바 스타일링 */
.attendanceList__item::-webkit-scrollbar {
  width: 8px; /* 스크롤바 너비 */
}

.attendanceList__item::-webkit-scrollbar-track {
  background: transparent; /* 스크롤바 트랙 색상 */
  border-radius: 10px; /* 스크롤바 트랙 둥글기 */
}

.attendanceList__item::-webkit-scrollbar-thumb {
  background: var(--line-color); /* 스크롤바 색상 */
  border-radius: 10px; /* 스크롤바 둥글기 */
}

.attendanceList__item::-webkit-scrollbar-thumb:hover {
  background: var(--text-color2); /* 스크롤바 색상 (hover) */
}
