.projInfo {
  /*border: 1px solid black;*/
  /*마진*/
  margin: 20px;
  /*요소 배치*/
  display: flex;
}

.calendar {
  /*border: 1px solid blue;*/
}

.rightContent {
  /*border: 10px solid black;*/
  /*크기*/
  width: 350px;
  /*요소 배치*/
  display: flex;
  flex-direction: column;
}

.rightContent__memberList {
  /*border: 1px solid green;*/
}

.rightContent__buttonContainer {
  /*border: 1px solid orange;*/
  /*전체 요소 아래로 배치*/
  display: flex;
  margin-top: auto;
  /*내부 요소 아래로 배치*/
  align-items: end;
}

.rightContent__toolButton {
  /*border: 1px solid blue;*/
  display: flex;
  flex-wrap: wrap;
}

.rightContent__rightButtons {
  /*border: 1px solid mediumseagreen;*/
  /*요소 오른쪽으로 배치*/
  display: flex;
  flex-direction: column;
  margin-left: auto;
}

.rightContent__rightButtons button {
  /*크기 설정*/
  width: 120px;
  height: 40px;
  /*마진*/
  margin-top: 10px;
  /*폰트*/
  font-size: 16px;
  /*테두리*/
  border-radius: 8px;
}

.portfolioButton {
  /*배경 색*/
  background-color: var(--sub-color);
  /*폰트 색*/
  color: var(--sub-color2);
}

.authmeetingButton {
  /*배경 색*/
  background-color: var(--main-color2);
  /*폰트 색*/
  color: white;
}

.portfolioButton:hover {
  border: 2px solid var(--main-color2);
}

.authmeetingButton:hover {
  border: 2px solid var(--main-color);
  /*배경 색*/
  background-color: var(--main-color);
}
