.projInfo__wrapper {
  /*요소 배치*/
  display: flex;
  /*크기*/
  height: 701px;
}

.projInfo__container {
  /*요소 배치*/
  display: flex;
  flex-wrap: wrap;
}

.calendar {
  align-self: flex-start;
  margin: auto 0;
  margin-left: 15px;
}

.rightContent {
  /*요소 배치*/
  display: flex;
  flex-direction: column;
  margin: auto 0;
  /*높이*/
  height: 620px;
}

.rightContent__memberList {
  width: fit-content;
}

.rightContent__buttonContainer {
  /*전체 요소 아래로 배치*/
  display: flex;
  margin-top: auto;
  /*내부 요소 아래로 배치*/
  align-items: end;
}

.rightContent__toolButton {
  /*border: 1px solid blue;*/
  display: flex;
  width: 150px;
  flex-wrap: wrap-reverse;
  gap: 10px;
  margin-left: 5px;
}

.rightContent__rightButtons {
  /*border: 1px solid mediumseagreen;*/
  /*요소 오른쪽으로 배치*/
  display: flex;
  flex-direction: column;
  margin-left: auto;
  gap: 10px;
}
