.myProfile__sideNav {
  margin-top: 30px;
  display: flex;
}
.myProfile__wrap {
  /*버튼 + 프로필 wrap*/
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
}
.myProfile__wrap--INTEAMBOARD {
  /*버튼 + 프로필 - 위치 중앙으로*/
  align-items: center;
}

.myProfile__box {
  /*프로필 박스*/
  border: 1px solid var(--line-color);
  border-radius: 8px;
  padding: 50px 60px;
  display: flex;
  gap: 10px;
  min-width: 1000px;
}
.myProfile__box--INTEAMBOARD {
  /*프로필 박스 - 크기 조정(padding) 및 테두리 없음*/
  padding: 75px 90px;
  border: none;
}
.myProfile__left {
  /*프로필 사진, 이름/나이/바이오, sns*/
  width: 300px;
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: start;
}

.myProfile__info__bio {
  /*바이오*/
  width: 300px;
  font-size: 20px;
  color: var(--text-color1);
}

.myProfile__info__sns {
  /*sns*/
  margin-top: 5px;
  display: flex;
}

.myProfile__right {
  /*매너티어, 소개글(introduce), skills*/
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.myProfile__tierIcon {
  /*매너티어 아이콘*/
  margin-left: 30px;
}

button {
  width: 180px;
  height: 60px;
}
