.SelectIcon {
  /*배경 색*/
  background-color: white;
  /*테두리*/
  border: 1px solid var(--line-color);
  border-radius: 10px;
  /*패딩*/
  padding: 5px 11px;
  /*다른 요소들보다 위에 표시*/
  z-index: 100;
  /*텍스트*/
  text-align: left;
  /*그림자*/
  box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.2);
  /* 크기 */
  width: 380px;
  height: 90px;
}

.SelectIcon__msg {
  /*텍스트 색상*/
  color: var(--text1-color);
  /*폰트 크기*/
  font-size: 14px;
  /*글자 간격*/
  letter-spacing: -0.25px;
  /* Flexbox 설정 */
  display: flex;
  flex-direction: column; /* 수직 정렬 */
  align-items: left; /* 가로 가운데 정렬 */
  justify-content: center; /* 세로 가운데 정렬 */
  height: 100%; /* 부모 요소의 높이에 맞춤 */
}

/*말풍선 삼각형*/
.SelectIcon::before {
  /*삼각형*/
  border-color: white transparent;
  border-style: solid;
  border-width: 0px 12px 8px 12px;
  width: 0;
  /*빈 내용*/
  content: "";
  /*블럭 요소로 설정*/
  display: block;
  /*위치*/
  position: absolute;
  top: -7px; /* 화살표를 아래쪽에 배치하고 살짝 위로 조정 */
  left: 25px;
  /*말풍선 테두리 위에 배치*/
  z-index: 1;
}

/*말풍선 테두리*/
.SelectIcon::after {
  /*삼각형*/
  border-color: var(--line-color) transparent;
  border-style: solid;
  border-width: 0px 12px 8px 12px;
  width: 0;
  /*빈 내용*/
  content: "";
  /*블럭 요소로 설정*/
  display: block;
  /*위치*/
  position: absolute;
  top: -8px; /* 화살표를 아래쪽에 배치 */
  left: 25px;
  z-index: 0;
}
