.Applicant {
  width: 300px;
  height: 110px;
  border: 1px solid var(--line-color);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  gap: 15px;
  align-items: center;
}
.ApplicantWrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(auto-fill, 110px);
  gap: 15px;
}
.Applicant__Application {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.Applicant__ApplicationBtn {
  display: flex;
  gap: 7px;
  text-align: center;
}

.Applicant__buttonWrap {
  display: flex;
  gap: 10px;
}
