.CommentItem {
  display: flex;
  align-items: center;
  gap: 30px;
}

.CommentItem__container {
  width: 840px;
  background-color: white;
  border-radius: 16px;
  padding: 10px 20px;
  position: relative;
  display: flex;
  flex-direction: column;
}

/*말풍선 삼각형*/
.CommentItem__container::before {
  /*삼각형*/
  border-color: transparent white;
  border-style: solid;
  border-width: 20px 20px 20px 0px;
  width: 0;
  /*빈 내용*/
  content: "";
  /*블럭 요소로 설정*/
  display: block;
  /*위치*/
  position: absolute;
  top: 35%; /* 화살표를 아래쪽에 배치하고 살짝 위로 조정 */
  left: -19px;
  /*말풍선 테두리 위에 배치*/
  z-index: 1;
}

.CommentItem__header {
  display: flex;
  align-items: center;
  gap: 10px;
}

.CommentItem__header > div {
  color: var(--text-color2);
  font-size: 14px;
  font-family: "pretendardR";
}

.CommentItem__description {
  padding: 20px 0;
}

.CommentItem__icon {
  align-self: flex-end;
  display: flex;
  gap: 10px;
}
