.CommentItem {
  display: flex;
  align-items: center;
  gap: 30px;
  position: relative;
}

.CommentItem__container {
  width: 840px;
  background-color: white;
  border-radius: 16px;
  padding: 10px 20px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.CommentItem__container__WRITER {
  background-color: var(--sub-color);
}

/*말풍선 삼각형*/
.CommentItem__container::before {
  /*삼각형*/
  border-color: transparent white;
  border-style: solid;
  border-width: 20px 20px 20px 0px;
  width: 0;
  /*빈 내용*/
  content: "";
  /*블럭 요소로 설정*/
  display: block;
  /*위치*/
  position: absolute;
  top: 50%; /* 말풍선 중앙에 배치 */
  transform: translateY(-50%);
  left: -19px;
  z-index: 1;
}

.CommentItem__container__WRITER::before {
  border-color: transparent var(--sub-color);
}

.CommentItem__header {
  display: flex;
  align-items: center;
  gap: 10px;
}

.CommentItem__header > div {
  color: var(--text-color2);
  font-size: 14px;
  font-family: "pretendardR";
}

.CommentItem__writer {
  color: var(--main-color) !important;
}

.CommentItem__writer > span {
  color: var(--main-color);
}

.CommentItem__icon {
  margin-left: auto;
  cursor: pointer;
}

.CommentItem__description {
  padding: 20px 0;
  white-space: pre-line;
}
.CommentItem__description > textarea {
  width: 90%;
  max-height: 150px;
  height: fit-content;
  overflow-y: auto;
  padding: 5px 10px;
  border: 1px solid var(--text-color2) !important;
  resize: none;
  border-radius: 10px;
  &:focus {
    outline: none;
    border: 1px solid var(--main-color2) !important;
  }
}

.CommentItem__description > textarea::-webkit-scrollbar {
  width: 8px;
}

.CommentItem__description > textareaL::-webkit-scrollbar-track {
  background: var(--dimmed);
  border-radius: 10px;
}

.CommentItem__description > textarea::-webkit-scrollbar-thumb {
  background: var(--line-color);
  border-radius: 10px;
}

.CommentItem__description > textarea::-webkit-scrollbar-thumb:hover {
  background: var(--text-color2);
}

.CommentItem__icon {
  align-self: flex-end;
  display: flex;
  gap: 10px;
}

.CommentItem__menu {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: absolute;
  top: 0px;
  right: 70px;
  z-index: 10;

  width: 80px;
  padding: 5px 0px;

  background-color: white;
  border-radius: 8px;
}

.CommentItem__menu__WRITER {
  background-color: var(--sub-color);
}
