/* ProjectList.module.css */
.contestList {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.contestItem {
  align-content: center;
  width: 200px;
}
.newsImage {
  width: 200px;
  height: 270px;
}

.contestTitle {
  font-weight: bold;
}

.contestPeriod,
.contestLocation,
.contestPrice {
  color: gray;
  font-size: 13px;
}
