.memberItem {
  /*border: 1px solid pink;*/
  position: relative;
}

.memberItem > img {
  position: absolute;
  top: 5px;
  left: 20px;
  width: 32px;
}

.memberItem__container {
  /*border: 1px solid black;*/
}

.memberItem__button {
  /*테두리*/
  border: 1px solid var(--line-color);
  border-radius: 8px;
  /*크기*/
  width: 145px;
  height: 65px;
  /*요소 배치*/
  display: flex;
  align-items: center;
  /*폰트*/
  font-size: 16px;
}

.memberItem__name {
  /*border: 1px solid black;*/
  /*크기*/
  width: 60px;
  /*배치*/
  margin: auto;
  word-wrap: break-word;
  line-height: 1;
}

.memberItem__profilePic {
  /*크기*/
  width: 50px;
  height: 50px;
  /*원형으로*/
  border-radius: 25px;
  /*마진*/
  margin-left: 10px;

  border: 1px solid var(--line-color);
}

.memberItem__button:hover {
  border: 2px solid var(--main-color2);
  background-color: var(--sub-color);
}

.memberItem__button--ONLYBORDER:hover {
  border: 2px solid var(--main-color2);
  background-color: transparent;
}

.memberItem__button--SELECTED {
  border: 2px solid var(--main-color2);
  background-color: var(--sub-color);
  &:focus {
    border: 2px solid var(--main-color2);
    background-color: var(--sub-color);
  }
}

.memberItem__button--ONLYBORDER_SELECTED {
  border: 2px solid var(--main-color2);
  background-color: transparent;
  &:hover {
    border: 2px solid var(--main-color2);
    background-color: transparent;
  }
}
.memberItem__button--COMPLETED {
  border: 1px solid var(--line-color);
  background-color: var(--dimmed);
  &:hover {
    border: 1px solid var(--line-color);
    background-color: var(--dimmed);
  }
}
