.updateProj {
  /*크기*/
  width: 1069px;
  /*배치*/
  margin: 0 auto;
}

.updateProj__label {
  /*텍스트*/
  font-size: 24px;
  font-family: "pretendardB";
  /*마진*/
  margin: 50px 0;
}

.updateProj__innerLabel {
  /*텍스트*/
  font-size: 20px;
  color: var(--text-color1);
  letter-spacing: -6%;
}

.updateProj__top {
  /*구분선*/
  border-bottom: 1px solid var(--line-color);
  /*패딩*/
  padding-bottom: 20px;
}

.updateProj__middle {
  /*배치*/
  display: flex;
  flex-direction: column;
  gap: 10px;
  /*구분선*/
  border-bottom: 1px solid var(--line-color);
  /*패딩*/
  padding: 20px 0;
}

.updateProj__linkItem {
  /*요소 배치*/
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* 스크롤 가능 */
  max-height: 110px;
  overflow-y: auto;
}

/* 스크롤바 스타일링 */
.updateProj__linkItem::-webkit-scrollbar {
  width: 8px; /* 스크롤바 너비 */
}

.updateProj__linkItem::-webkit-scrollbar-track {
  background: var(--dimmed); /* 스크롤바 트랙 색상 */
  border-radius: 10px; /* 스크롤바 트랙 둥글기 */
}

.updateProj__linkItem::-webkit-scrollbar-thumb {
  background: var(--line-color); /* 스크롤바 색상 */
  border-radius: 10px; /* 스크롤바 둥글기 */
}

.updateProj__linkItem::-webkit-scrollbar-thumb:hover {
  background: var(--text-color2); /* 스크롤바 색상 (hover) */
}

.updateProj__addButton {
  /*크기*/
  width: fit-content;
  height: 20px;
  /*배치*/
  margin: 10px 0;
  margin-left: 640px;
  /*텍스트*/
  font-size: 16px;
  color: var(--text-color2);
  letter-spacing: -6%;
}

.updateProj__addButton:hover {
  color: var(--text-color1);
}

.updateProj__bottom {
  /*배치*/
  display: flex;
  flex-direction: column;
  gap: 10px;
  /*패딩*/
  padding: 20px 0;
}

.updateProj__bottomInner {
  /*배치*/
  display: flex;
}

.updateProj__item {
  /*배치*/
  display: flex;
  gap: 10px;
  align-items: center;
}

.updateProj__saveButton {
  /*배치*/
  align-self: end;
  margin-left: auto;
}

.updateProj__finishButton {
  /*크기*/
  width: fit-content;
  /*텍스트*/
  font-size: 16px;
  color: var(--point);
  /*마진 및 배치*/
  margin: 20px 0 0 auto;
}
