.updateProj {
  /*크기*/
  width: 1069px;
  /*배치*/
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.updateProj__label {
  /*텍스트*/
  font-size: 24px;
  font-family: "pretendardB";
  /*마진*/
  margin: 50px 0px 30px 0px;
}

.updateProj__innerLabel {
  /*텍스트*/
  font-size: 20px;
  color: var(--text-color1);
  letter-spacing: -6%;
}

.updateProj__projName {
  /*구분선*/
  border-bottom: 1px solid var(--line-color);
  /*패딩*/
  padding-bottom: 20px;
}

.updateProj__toolLink {
  /*구분선*/
  border-bottom: 1px solid var(--line-color);
  /*패딩*/
  padding: 20px 0;
}

.updateProj__delegation {
  /*배치*/
  display: flex;
  flex-direction: column;
  gap: 10px;
  /*패딩*/
  padding-top: 20px;
}

.updateProj__bottomInner {
  /*배치*/
  display: flex;
}

.updateProj__members {
  /*배치*/
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
}

.updateProj__saveButton {
  /*배치*/
  align-self: end;
  margin-left: auto;
}

.updateProj__finishButton {
  /*마진 및 배치*/
  align-self: flex-end;
  margin-top: 50px;
}

.updateProj__finishButton--MORE6 {
  /*마진 및 배치*/
  align-self: flex-end;
  margin-top: 10px;
}
