.collabTool {
  /*border: 1px solid purple;*/
  margin: 5px;
}

.collabTool__button {
  /*크기*/
  width: 60px;
  height: 60px;
  /*테두리*/
  border: 1px solid var(--line-color);
  border-radius: 4px;
}

.collabTool__button:hover {
  border: 2px solid var(--main-color2);
  background-color: var(--sub-color);
}
