/* ProjectList.module.css */

.projectList {
  display: flex;
  align-items: center;
  gap: 15px;
  border-radius: 15px;
}
.projectList span {
  color: var(--text-color2);
  font-family: "pretendardB";
}
.projectTitle {
  margin-bottom: 15px;
}
.stack {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* 각 tech 요소 사이의 간격을 조정 */
  font-family: "pretendardM";
  font-size: 13px;
}

.projectItem {
  background-color: white;
  align-content: center;
  border-radius: 10px;
  border: 1px solid var(--select-color);
  width: 300px;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  cursor: pointer;
  &:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
}

.projectCont {
  width: 250px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
.projectTitle text {
  font-family: "pretendardB";
}

.projectPeriod,
.projectLocation,
.projectOnoff,
.projectDifficulty {
  color: var(--text-color1);
  font-size: 13px;
  display: flex;
  gap: 5px;
}

.subTitle {
  color: var(--text-color2);
}
.projectlist__content {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
