.attendanceDetail {
  /*테두리*/
  border: 1px solid var(--line-color);
  border-radius: 8px;
  /*크기*/
  width: 756px;
  height: 478px;
}

.attendanceDetail__container {
  /*패딩*/
  padding: 50px;
  /*배치*/
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.attendanceDetail__label {
  /*텍스트*/
  font-family: "pretendardB";
  font-size: 24px;
  color: var(--text-color1);
}

.attendanceDetail__label span {
  /*텍스트*/
  color: var(--main-color2);
}

.attendanceDetail__file {
  /*배치*/
  display: flex;
  gap: 10px;
}

.attendanceDetail__fileLabel {
  /*배치*/
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.attendanceDetail__fileName {
  /*크기*/
  width: 264px;
  height: 30px;
  /*테두리*/
  border: 1px solid var(--line-color);
  border-radius: 4px;
  /*패딩*/
  padding-left: 15px;
  /*텍스트*/
  font-size: 14px;
  color: var(--text-color2);
  /*배치*/
  display: flex;
  align-items: center;
}

.attendanceDetail__countLabel {
  /*텍스트*/
  font-size: 14px;
  color: var(--text-color1);
  /*오른쪽 끝으로*/
  align-self: end;
}

.attendanceDetail__fileButton {
  /*크기*/
  width: 80px;
  height: 30px;
  /*테두리*/
  border-radius: 4px;
  /*배경색*/
  background-color: var(--select-color);
  /*텍스트*/
  font-size: 14px;
  color: var(--text-color2);
}

.attendanceDetail__fileButton:hover {
  border: 1px solid var(--text-color1);
}

.attendanceDetail__list {
  /*마진*/
  margin-top: 50px;
  /*배치*/
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.attendanceDetail__listLabel {
  /*텍스트*/
  font-size: 14px;
  color: var(--text-color2);
}

.attendanceDetail__item {
  /*배치*/
  display: flex;
  gap: 15px;
}

.attendanceDetail__button {
  /*배치*/
  align-self: end;
  /*마진*/
  margin-top: 75px;
}
