.projectHire input,
.projectHire select {
  min-width: 150px;
  padding: 10px 10px;
  font-size: 16px;
  border: 1px solid var(--line-color);
  border-radius: 8px;
  &:focus {
    outline: none;
  }
  &::placeholder {
    font-size: 16px;
  }
  &:focus::placeholder {
    opacity: 0;
  }
}
.projectHire {
  width: 1320px;
  border-bottom: 1px solid var(--line-color);
  margin-top: 80px;
  font-size: 28px;
  font-family: "pretendardB";
  padding: 20px 0;
  display: flex;
  row-gap: 40px;
  flex-direction: column;
}

.projectHire__projectTitle {
  border: 1px solid var(--line-color);
  &::placeholder {
    font-size: 28px;
  }
}

/*제목 제외 모든 input 컨테이너*/
.projectHire__container {
  display: grid;
  align-items: start;
  column-gap: 100px;
  row-gap: 50px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 200px 350px auto;
}
.projectHire__container > div:nth-child(5) {
  grid-column: 1 / span 2;
}
/*input label*/
.projectHire label {
  font-family: "pretendardM";
  font-size: 16px;
}
/*업로드 버튼*/
.buttonWrap {
  display: flex;
  justify-content: right;
}
.formError {
  border: 2px solid var(--point) !important;
}
