.projectHire input {
  padding: 0 10px;
}
.projectHire {
  width: 1320px;
  height: 40px;
  border-bottom: 1px solid var(--line-color);
  margin-top: 100px;
  font-size: 28px;
  font-family: "pretendardB";
  padding: 20px 0;
  display: flex;
  gap: 40px;
  flex-direction: column;
}
.projectHire__projectTitle {
  border-bottom: 2px solid var(--line-color);
}
