.recommendproj {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  height: 360px;
  padding: 50px;
}
.text {
  font-family: "pretendardB";
  font-size: 26px;
}
.recommedproj__container {
  display: flex;
  gap: 20px;
}
