.myProfile__title{
    font-size: 30px;
    font-family: 'pretendardB';
    margin-bottom: 5px;
}

.myProfile__title span{
    /*매너 '티어' : 색깔 다른 부분*/
    color: var(--main-color2);
}

.myProfile__tier{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
