.routename {
  width: 1320px;
  height: 80px;
  display: flex;
  z-index: 500;
  position: sticky;
  margin: 10px 0;
  top: 0;
  background-color: white;
}
.routename__item {
  font-size: 28px;
  font-family: "pretendardB";
  display: flex;
  align-items: center;
}
