.container {
  background-color: #f1f1f5; /* 전체 배경 색상 */
  padding: 20px;
  border-radius: 10px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 30px;
  margin-bottom: 20px;
  margin-right: 70px;
}

.title {
  font-family: "pretendardB";
}

.buttonContainer {
  display: grid;
  grid-template-columns: repeat(7, 1fr); /* 한 줄에 7개의 버튼 */
 
  border-radius: 10px;
  gap: 5 px;
  
  
}

.stateButton {
  height: 50px; /* 고정된 높이 */
  width: 135px;
  background-color: white;
  border: 1px solid var(--line-color);
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
  box-sizing: border-box; /* padding 포함하여 크기 계산 */
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover,
  &:focus {
    border: 2px solid var(--main-color2);
    color: var(--main-color2);
    font-family: "pretendardB";
  }
}
.sub {
  width: 130px;
  height: 50px;
  &:hover {
    color: var(--main-color2);
  }
}

.subAreaContainer {
  display: flex;
  flex-direction: column;
}
.subAreaContainer h2 {
  font-size: 20px;
}

.subAreaContainer div {
  font-size: 15px;
}

.sub.selected {
  background-color: #f0f0f0; /* 선택된 상태의 스타일 예시 */
  color: var(--main-color2);
  
}

.selectedAreas {
  margin-top: 20px;
}

.selectedAreas h3 {
  margin-bottom: 10px;
}

.selectedAreas ul {
  list-style-type: none;
  padding: 0;
}

.selectedAreas li {
  background-color: #e0e0e0; /* 선택된 항목의 스타일 예시 */
  margin: 5px 0;
  padding: 5px 10px;}


/* 선택된 상태 버튼 스타일 */
.selectedState {
  border: 2px solid var(--main-color2);
    color: var(--main-color2);
    font-family: "pretendardB";
}

