.tech__wrap {
  min-width: 40px;
  max-width: 60px;
  height: 20px;
  background-color: var(--select-color);
  border-radius: 20px;
  white-space: nowrap; /* 텍스트가 한 줄에 표시되도록 */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 0 10px;
  font-size: 12px;
}
