/* ProjectList.module.css */

.projectList {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.stack {
  display: flex;
  flex-wrap: wrap;
  gap: 6px; /* 각 tech 요소 사이의 간격을 조정 */
  font-family: "pretendardM";
  font-size: 13px;
  font-weight: lighter;
}

.tech {
  min-width: 70px;
  height: 25px;
  background-color: var(--select-color);
  border-radius: 20px;
  white-space: nowrap; /* 텍스트가 한 줄에 표시되도록 */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.projectItem {
  background-color: white;
  align-content: center;
  border-bottom: 1px solid var(--line-color);
  display: flex;
  align-items: center;
  padding: 15px 0;
  gap: 25px;
}

.projectDetail {
  display: -webkit-box; /* 플렉스 박스 레이아웃 사용 */
  -webkit-box-orient: vertical; /* 박스를 수직으로 설정 */
  overflow: hidden; /* 넘치는 텍스트 숨김 */
  text-overflow: ellipsis; /* 말줄임표(...) 표시 */
  -webkit-line-clamp: 2; /* 두 줄까지만 표시 */
  line-clamp: 2; /* 두 줄까지만 표시 (표준 속성, 일부 브라우저에서 지원) */
  color: var(--text-color2);
  font-size: 13px;
  max-width: 500px;
}
/*프로젝트 제목*/
.projectTitle {
  font-family: "pretendardB";
  align-content: center;
  min-width: 200px;
}
/*기간, 지역, 방식, 난이도*/
.projectInfo {
  min-width: 130px;
}
.projectPeriod,
.projectLocation,
.projectOnoff,
.projectDifficulty {
  font-size: 13px;
  align-content: center;
}
.projectStackContent {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
