.nav2 {
  width: 100%;
  height: 50px;
  border-bottom: 1px solid var(--line-color);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.nav2__container {
  max-width: 1320px;
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: left;
}

.searchProjWrap {
  margin-right: 70px;
  margin-top: 50px;
  width: 1000px;
}

.nav2__contents:hover .nav2__button {
  color: var(--main-color2);
}

.nav2__button {
  display: inline-block;
  padding: 0px;
  font-family: "pretendardM";
  transition: color 0.1s ease;
  height: 48px;
  position: relative;
  width: auto;
  margin-right: 15px;
  color: var(--text-color2);
}

.nav2__button:hover {
  color: var(--main-color2);
}

.nav2__button:focus {
  color: var(--main-color2);
}

.selected {
  color: var(--main-color2);
}

.divider {
  color: gray;
  margin-right: 15px;
}

.onoff__container {
  display: flex;
  height: 30px;
}

.onoff__contents {
  border: 1px solid var(--line-color);
  border-radius: 20px;
  margin-right: 5px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
}

.onoff__contents:hover {
  border-color: var(--main-color2);
}

.onoff__button {
  background: none;
  border: none;
  font-size: 14px;
  cursor: pointer;
  color: var(--text-color2); /* 기본 색상 */
}

.onoff__button.selected {
  color: var(--main-color2); /* 선택된 색상 */
}

.dropdownContainer {
  font-family: "pretendardM";
  display: flex;
  flex-direction: row;
}

.dropdownGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  margin-left: 15px;
}



.dropdownGroup select {
  cursor: pointer;
  border: 1px solid var(--line-color);
  padding: 5px;
  border-radius: 4px;
}

.dropdownGroup label {
  font-size: 14px;
  margin: 2px 0;
}
.questionmark {
  cursor: pointer;
}

/* 아이콘과 드롭다운을 포함할 컨테이너 스타일 */
.iconAndDropdown {
  display: flex;
  align-items: center; /* 수직 정렬 */
  gap: 10px; /* 아이콘과 드롭다운 사이의 간격 */
  position: relative; /* 툴팁의 절대 위치 기준 */
}

/* 툴팁 스타일 */
.tooltip {
  position: absolute; /* 절대 위치 지정 */
  top: -130px; /* 드롭다운 위에 위치 */
  left: -30px; /* 드롭다운과 같은 좌측에 맞춤 */
  background-color: #fff; /* 배경색 */
  border: 1px solid #ccc; /* 테두리 색상 */
  border-radius: 8px; /* 테두리 모서리 둥글게 */
  padding: 10px; /* 내부 여백 */
  font-size: 14px; /* 글자 크기 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
  z-index: 1000; /* z-index를 높여서 다른 요소들 위에 나타나도록 설정 */
  width: 300px;
  display: none; /* 기본적으로 숨김 */
}

/* 툴팁이 보여질 때 */
.iconAndDropdown:hover .tooltip,
.tooltip:hover {
  display: block; /* 툴팁 보이게 */
}


/* 드롭다운 스타일 */
.iconAndDropdown select {
  padding: 5px 10px;
}

/* 아이콘 스타일 */
.questionmark {
  cursor: pointer;
  display: flex;
  align-items: center;
}
