.tech {
  min-width: 70px;
  max-width: 120px;
  height: 25px;
  background-color: var(--select-color);
  border-radius: 20px;
  white-space: nowrap; /* 텍스트가 한 줄에 표시되도록 */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 0 4px;
}
