
.myProfile__wrap{
    display: flex;
}
.myProfile__contWrap{
    /*버튼 + 프로필 wrap*/
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
    margin-bottom: 300px;
}