.navWrap{
    width: 100vw;
    height: 70px;
    border-bottom: 1px solid #d0d0d0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navCont{
    width: 1320px;
    height: 80px;
    display: flex;
    gap: 30px;
    align-items: center;
    
}
.navCont button{
    border: none;
    background: none;
    cursor: pointer;
    margin-top: 10px;
    height: 62px;
    transition: border-bottom 0.1s ease;
    width: 70px;
    color: #797979;
}
.navCont button:hover{
    color: #1E90FF;
    border-bottom: 4px solid #1e90ff;
}
.searchBar{
    flex: 1;
}
.searchBar input{
    width: 400px;
    height: 1px;
    border-radius: 28px;
    padding: 20px;
    border: 1px solid #1e90ff;
    outline: #1e5eff;
}
.searchBar input::placeholder{
    color: #797979;
    flex: 1;
}
.searchBar input:focus::placeholder{
    color: transparent;
}

.subNavWrap{
    width: 120px;
    box-shadow: 4px 4px 2px rgba(0,0,0,0.2);
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    background-color: white;
    position: absolute;
    top: calc(100%+10px);
    transform: translate(-20%)
}
.subNavWrap li{
    width: 120px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 14px;
}
.subNavWrap li:hover{
    color: #1e5eff
}