.collab_tool__wrapper {
  /*border: 1px solid purple;*/
  margin: 5px;
}

.collab_tool__button {
  /*크기*/
  width: 60px;
  height: 60px;
  /*테두리*/
  border: 1px solid #d0d0d0;
  border-radius: 4px;
  /*배경 색*/
  background: none;
  /*커서*/
  cursor: pointer;
}
