.ApplyHireProj__wrap {
  display: flex;
  margin-bottom: 70px;
}

.ApplyHireProj__title {
  font-family: "pretendardB";
  font-size: 26px;
  height: 50px;
  width: 1115px;
  margin-bottom: 40px;
  border-bottom: 1px solid var(--line-color);
}

.ApplyHireProj__content {
  display: flex;
  flex-direction: column;
  gap: 70px;
}

/*컨텐츠 전체 wrap*/
.HireProj__content {
  display: grid;
  grid-template-columns: 0.8fr 0.8fr;
  justify-content: center;
}
.HireProj__contWrap {
  display: flex;
  flex-direction: column;
}

/*프로젝트 컴포넌트 + 버튼*/
.HireProj__ProjectSetting {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 0 10px;
}
/*모집마감 + 팀원 + 글삭제*/
.HireProj__buttonWrap {
  display: flex;
  gap: 14px;
  align-items: center;
}
/*지원자 목록*/
.ApplyProj__contWrap {
  width: 1120px;
}
.ApplyProj__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ApplyProj__ProjectList {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  width: 1005px;
}
