/*팀원 보여주는 박스, 클릭 시 보여짐*/
.teammateView{
    width: 330px;
    padding: 15px;
    margin-top: 10px;

    background-color: var(--dimmed);
    border-radius: 8px;

    display: flex;
    justify-content: center;

    position: relative;

    /*말풍선 삼각형 꼭지점*/
    &::before{
        content: ' ';
        position: absolute;
        top: -10px;
        right: 122px;
        border-color: var(--dimmed);
        border-width: 10px;
        border-style: solid;
        transform: rotate(45deg);
        z-index: -1000;
    }
}

/*멤버 아이템 wrap*/
.teammateView__MemberItems{
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    gap: 10px;
}