.myProfile__title{
    font-size: 30px;
    font-family: 'pretendardB';
    margin-bottom: 5px;
}
.myProfile__skills__graphWrap{
    margin-Top: 5px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}
.myProfile__skills__graph{
    display: flex;
    align-items: center;
}
.myProfile__skills__graphName{
    font-size: 16px;
    width: 100px;
}
