/* ProjectList.module.css */

.newsList {
  display: flex;
  gap: 50px;
}
.newsImage {
  width: 200px;
  height: 270px;
}

.newsItem {
  align-content: center;
  width: 200px;
}

.newscontent {
  color: gray;
  font-size: 13px;
}
