@font-face {
  font-family: "pretendardR";
  src: url("./assets/Fonts/Pretendard-Regular.woff");
}

@font-face {
  font-family: "pretendardM";
  src: url("./assets/Fonts/Pretendard-Medium.woff");
}

@font-face {
  font-family: "pretendardB";
  src: url("./assets/Fonts/Pretendard-SemiBold.woff");
}
:root {
  --main-color: #1e5eff;
  --main-color2: #1e90ff;

  --sub-color: #cddef2;
  --sub-color2: #607fea;
  --sub-color3: #9cc9fd;

  --select-color: #e0e0e0;
  --line-color: #d0d0d0;

  --point: #da0000;
  --dimmed: #f1f1f5;

  --main2-hover-color: #1b82e7;
  --sub1-hover-color: #c2d2e4;

  --header-text: #444444;
  --text-color1: #333333;
  --text-color2: #797979;
}
button {
  border: none;
  background: none;
  cursor: pointer;
}
