
@font-face {
    font-family: 'pretendardR';
    src: url('./Fonts/Pretendard-Regular.woff');
}

@font-face {
    font-family: 'pretendardM';
    src: url('./Fonts/Pretendard-Medium.woff');
}

@font-face {
    font-family: 'pretendardB';
    src: url('./Fonts/Pretendard-SemiBold.woff');
}