.scheuleDialog {
  /*크기*/
  width: 349px;
  height: 238px;
  /*테두리*/
  border: 1px solid var(--line-color);
  border-radius: 8px;
  background-color: white;
  /*요소 배치*/
  z-index: 100;
  position: absolute;
  top: 270px;
  left: 230px;
}

.scheuleDialog__container {
  padding: 10px;
  /*요소 배치*/
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 7px;
}

.scheuleDialog__header {
  display: flex;
  flex-wrap: wrap;
}

.scheuleDialog__xButton {
  margin-left: auto;
}

.scheuleDialog__section {
  /*요소배치*/
  display: flex;
  align-items: center;
  gap: 5px;
  /* 폰트 */
  font-size: 12px;
  color: var(--text-color2);
  /* 패딩 */
  padding-left: 15px;
}

.scheuleDialog__label {
  /* 폰트 */
  color: var(--text-color);
  font-size: 14px;
  font-family: "pretendardB";
}

.scheuleDialog__innerLabel {
  width: 50px;
  color: var(--text-color2);
}

.scheuleDialog__input {
  /*크기*/
  height: 30px;
  /*텍스트*/
  color: var(--text-color2);
  letter-spacing: -8%;
  /*패딩*/
  padding-left: 10px;
  /*테두리*/
  border: 1px solid var(--line-color);
  border-radius: 4px;
}

.scheuleDialog__input--text {
  /*크기*/
  width: 220px;
}

.scheuleDialog__input--date {
  /*크기*/
  width: 96px;
}

.scheuleDialog__textarea {
  /*크기*/
  width: 210px;
  height: 60px;
  /*텍스트*/
  color: var(--line-color);
  letter-spacing: -8%;
  /*패딩*/
  padding: 5px 10px;
  /*테두리*/
  border: 1px solid var(--line-color);
  border-radius: 4px;

  white-space: pre-wrap;

  color: var(--text-color2);
  font-family: "pretendardM";
  letter-spacing: -8%;
  font-size: 12px;

  resize: none;
}

.scheuleDialog__textarea::-webkit-scrollbar {
  width: 5px; /* 스크롤바 너비 */
}

.scheuleDialog__textarea::-webkit-scrollbar-track {
  background: var(--dimmed); /* 스크롤바 트랙 색상 */
  border-radius: 10px; /* 스크롤바 트랙 둥글기 */
}

.scheuleDialog__textarea::-webkit-scrollbar-thumb {
  background: var(--line-color); /* 스크롤바 색상 */
  border-radius: 10px; /* 스크롤바 둥글기 */
}

.scheuleDialog__textarea-webkit-scrollbar-thumb:hover {
  background: var(--text-color2); /* 스크롤바 색상 (hover) */
}

/*input 태그 클릭시*/
.scheuleDialog__input--text:focus,
.scheuleDialog__input--date:focus,
.scheuleDialog__textarea:focus {
  border: 2px solid var(--main-color2);
  outline: none; /* 기본 outline 제거 */
}

.scheuleDialog__button {
  /* 오른쪽 끝으로, 각 버튼 사이 gap, 오른쪽 마진 */
  align-self: flex-end;
  margin-right: 10px;
}
